*{
    margin: 0;
    padding: 0;
}

html,body{
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    background: cornflowerblue;
}

.container {
    width: 300px;
    height: 480px;
    padding: 15px;
    background-color: white;
    border-radius: 20px;
}

.qrImg {
    width: 300px;
    border-radius: 10px;
}

.info{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    width: 250px;
    margin: 25px 25px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

.instrut {
    text-align: center;
    color: #444;
    width: 250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px 25px;
    font-weight:300 ;
}




